@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {box-sizing: border-box;}

body::-webkit-scrollbar{
  display: none,
}

body { 
  margin: 0;
}




/* Header CSS*/

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header_right {
    float: none;
  }
}

/*Welcome card CSS*/

.WelcomeCard {
  display: flex;
  object-fit:scale-down;
  overflow: hidden;
  height: 400px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.ImportantText {
  position: absolute;
  align-self: center;
  top: 40%;
  font-size:x-large;
  font-style: normal;
  color: white;
  letter-spacing: 1px}

/*Categories CSS*/

.Categories {
  padding: 30px 0px 100px 0px;
  font-size: large;
  font: bold;
}

.CategorieCarousel {
  display: flex;
  flex-direction: row;
}


