@tailwind components;


.SearchBox {
    position: relative;
    left: 15%;
    background-color : #007BD3;
    width: 70%;
    height: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 0px 0px;
  }
  
  .Line {
    display: flex;
    flex-direction: row;
    padding: 40px 20px 0px 20px;
  }
  
  .Line2 {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
  }

  .Tags{
    width: 330%;
    border-radius: 50px;
    background-color: black;
  }

  .SearchButton {
    background-color: gold;
    font:bold;
    width: 170px ;
    height: 55px;
  }
  
  .select {
    width: 350px;
    padding-right: 5px;
  }

  .aaa {
    width: 30%;
    height: 55px;
  }
  
  .input {
    width: 34%;
    padding-right: 5px;
  }