.imageBox{
    display: flex;
    width: 100%;
    overflow: hidden;
    clip-path: inset(100px 0px 0px);
    height: 250px;
    margin-top: -20px;
}

.image {
    object-fit: cover;
}
.tela {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    border-right-width: 2px;
    width: 20%;
    height: 100%;
    align-items: center;
    text-align: center;
    border-color: dodgerblue;
}

.avatar{
    margin-top: 30px;
    margin-bottom: 10px;
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    color:white
}

.name{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.dadosButton {
    display: flex;
    flex-direction: row;
    font-size: larger;
    font-weight:500;
    color: gray;

}

.dadosButton:hover {
    text-decoration: underline;
}

.salvosButton {
    display: flex;
    flex-direction: row;
    font-size: larger;
    font-weight: bold;
    color: dodgerblue;
    text-decoration: underline;
    align-items: center;
}

.title{
    margin: 20px;
    font-size: 20px;
    font-weight: 700;
}

.List {
    margin-left: 22%;
}