.page {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-left: 30%;
    display: flex;
    flex-direction: row;
    overflow:visible;
}

.result {
    width: 100%;
    height: 100%;
}

.NumberResults {
    font-size: 30px;
    font-weight: bold;
}